<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599469910773-othd6fm1qeb5h6mr6ho5sinjuf1ll3m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599469910773-othd6fm1qeb5h6mr6ho5sinjuf1ll3m3</string>
	<key>API_KEY</key>
	<string>AIzaSyBb0w7PyUY2zOkeHN_Oh5cFE-oXN1DxzAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>599469910773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NickNguyen.EasyFood</string>
	<key>PROJECT_ID</key>
	<string>easyfood-17257</string>
	<key>STORAGE_BUCKET</key>
	<string>easyfood-17257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599469910773:ios:2b427106c6397a6b1df3bc</string>
</dict>
</plist>