<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDE6TRq_1txBw5ovszUdNQrG-ubK4Kb6Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>251403132269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NickNguyen.EasyFood</string>
	<key>PROJECT_ID</key>
	<string>easyfood-7a94f</string>
	<key>STORAGE_BUCKET</key>
	<string>easyfood-7a94f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251403132269:ios:29c7f7356428ddceb44e64</string>
</dict>
</plist>